<html xmlns="http://www.w3.org/1999/xhtml" class="default light" lang="en"><!-- BEGIN: Head --><head>
        <meta charset="utf-8">
        <meta name="csrf-token" content="Koo2zWJKliRELq4FawEfkQPg3CJYusp6ppGFZw4O">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Midone admin is super flexible, powerful, clean &amp; modern responsive tailwind admin template with unlimited possibilities.">
        <meta name="keywords" content="admin template, midone Admin Template, dashboard template, flat admin template, responsive admin template, web app">
        <meta name="author" content="LEFT4CODE">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{{ asset('assets/styles/animation.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/styles/login.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/styles/admin.css') }}">
    </head>
    <!-- END: Head -->
    <body>

            <div class="p-3 sm:px-8 relative h-screen lg:overflow-hidden bg-primary xl:bg-white dark:bg-darkmode-800 xl:dark:bg-darkmode-600 before:hidden before:xl:block before:content-[''] before:w-[57%] before:-mt-[28%] before:-mb-[16%] before:-ml-[13%] before:absolute before:inset-y-0 before:left-0 before:transform before:rotate-[-4.5deg] before:bg-primary/20 before:rounded-[100%] before:dark:bg-darkmode-400 after:hidden after:xl:block after:content-[''] after:w-[57%] after:-mt-[20%] after:-mb-[13%] after:-ml-[13%] after:absolute after:inset-y-0 after:left-0 after:transform after:rotate-[-4.5deg] after:bg-primary after:rounded-[100%] after:dark:bg-darkmode-700">
                <div class="container relative z-10 sm:px-10">
                    <div class="block grid-cols-2 gap-4 xl:grid">
                        <!-- BEGIN: Login Info -->
                        <div class="hidden min-h-screen flex-col xl:flex">
                            <a class="-intro-x flex items-center pt-5" href="">
                                <img class="w-40" src="{{ asset('logo.svg') }}" alt="Midone - Tailwind Admin Dashboard Template">
                            </a>
                            <div class="my-auto">
                                <img class="-intro-x -mt-16 w-1/2" src="{{ asset('assets/images/illustration.svg') }}" alt="Midone - Tailwind Admin Dashboard Template">
                                <div class="-intro-x mt-10 text-4xl font-medium leading-tight text-white">
                                    Plus que quelques clics pour
                                    <br>
                                    accéder à votre compte.
                                </div>
                                <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400">
                                    Gérez toutes vos données en un seul endroit
                                </div>
                            </div>
                        </div>
                        <!-- END: Login Info -->
                        <!-- BEGIN: Login Form -->
                        <div class="my-10 flex h-screen py-5 xl:my-0 xl:h-auto xl:py-0">
                            <div class="mx-auto my-auto w-full rounded-md bg-white px-5 py-8 shadow-md dark:bg-darkmode-600 sm:w-3/4 sm:px-8 lg:w-2/4 xl:ml-20 xl:w-auto xl:bg-transparent xl:p-0 xl:shadow-none">
                                {% block body %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                <!-- END: Login Form -->
                </div>
            </div>
        </div>

</body>
</html>