{# templates/bundles/EasyAdminBundle/layout.html.twig #}
{% extends '@!EasyAdmin/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log('DOMContentLoaded');
            const header = document.querySelector('.responsive-header');
            const headerOffset = header.offsetTop;

            window.addEventListener('scroll', () => {
                if (window.scrollY > headerOffset) {
                    header.classList.add('fixed');
                } else {
                    header.classList.remove('fixed');
                }
            });

            // Move all modals to the body root
            document.querySelectorAll('.modal').forEach(modal => {
                if (modal.parentElement !== document.body) {
                    document.body.appendChild(modal);
                }
            });
        });
    </script>
    <link rel="stylesheet" href="{{ asset('assets/styles/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/animation.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
{% endblock %}

{% block content_top_header %}
    <div class="flex items-center justify-between py-1 w-full intro-x">
        {# Left side - Breadcrumb #}
        <div class="flex items-center">
            <nav aria-label="breadcrumb">
                <ol class="flex items-center">
                    <li class="flex items-center">
                        <a href="{{ path('admin') }}" style="letter-spacing: 0.50px; line-height: 20px; color: var(--main-color);">
                            {{ ea.dashboardTitle|raw }}
                        </a>
                    </li>

                    {% if ea.crud.currentAction is defined %}
                        <li class="flex items-center">
                            <span class="mx-2 text-gray-400" style="letter-spacing: 0.50px; line-height: 20px; font-size: 0.65rem;">
                                <i class="fa-regular fa-chevron-right"></i>
                            </span>
                            {% if ea.crud.currentAction == 'index' %}
                                <span class="text-gray-900 font-medium" style="letter-spacing: 0.50px; line-height: 20px;">
                                    {{ ea.crud.entityLabelInSingular }}
                                </span>
                            {% else %}
                                <a href="{{ ea_url().setController(ea.crud.controllerFqcn).unset('crudAction') }}" style="letter-spacing: 0.50px; line-height: 20px; color: var(--main-color);">
                                    {{ ea.crud.entityLabelInSingular }}
                                </a>
                            {% endif %}
                        </li>

                        {% if ea.crud.currentAction != 'index' %}
                            <li class="flex items-center">
                                <span class="mx-2 text-gray-400" style="letter-spacing: 0.50px; line-height: 20px; font-size: 0.65rem;">
                                    <i class="fa-regular fa-chevron-right"></i>
                                </span>
                                <span class="text-gray-900 font-medium">
                                    {{ ('crud.action.' ~ ea.crud.currentAction)|trans({}, 'admin') }}
                                </span>
                            </li>
                        {% endif %}
                    {% elseif title is defined %}
                        <li class="flex items-center">
                            <span class="mx-2 text-gray-400" style="letter-spacing: 0.50px; line-height: 20px; font-size: 0.65rem;">
                                <i class="fa-regular fa-chevron-right"></i>
                            </span>
                            <span class="text-gray-900 font-medium" style="letter-spacing: 0.50px; line-height: 20px;">
                                {{ title }}
                            </span>
                        </li>
                    {% endif %}
                </ol>
            </nav>
        </div>

        {# Right side - Search & User #}
        <div class="flex items-center space-x-4">
            <div class="dropdown relative">
                <button type="button" class="custom-button bg-white hover:bg-white" style="margin-right: 0px !important;" id="operation-button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                    <div class="flex items-center">
                        <i class="fa-regular fa-building mr-2"></i>
                        <span>
                            {% if app.session.get('current_operation') %}
                                {{ app.session.get('current_operation').name }}
                            {% else %}
                                Sélectionner une opération
                            {% endif %}
                        </span>
                        <svg class="ml-2 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </button>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="operation-button">
                    <li class="dropdown-header">
                        <div class="font-medium">Opérations</div>
                    </li>
                    {% if app.user %}
                        {% for operation in app.user.operations %}
                            <li>
                                <a class="text-uppercase dropdown-item flex items-center px-4 py-3 hover:bg-gray-100 font-['Roboto'] tracking-[0.35px] leading-[20px]" href="{{ path('admin_switch_operation', {'id': operation.id}) }}">
                                    <div class="flex-shrink-0 w-8 h-8 flex items-center justify-center rounded-full bg-blue-100 text-gray-500 mr-3">
                                        <i class="fa-regular fa-building-circle-check text-blue-600 mx-0" style="font-size: 0.8rem; color: rgba(30, 64, 175, 0.8); !important;"></i>
                                    </div>
                                    <div class="flex-grow">
                                        <div class="flex items-center">
                                            {{ operation.name }}
                                            {% if app.session.get('current_operation') and app.session.get('current_operation').id == operation.id %}
                                                <div class="ml-2 h-2 w-2 rounded-full bg-green-400"></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>


            
            <div class="dropdown relative mx-4">
                <div class="relative cursor-pointer" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                    <i class="text-xl text-gray-500 fa-regular fa-bell"></i>
                    {% if get_notifications()|filter(n => not n['isRead'])|length > 0 %}
                        <div class="absolute -top-1 -right-1 h-2 w-2 rounded-full bg-red-500"></div>
                    {% endif %}
                </div>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notification-button" style="max-inline-size: 25rem !important; width: 25rem !important;">
                    <li class="dropdown-header">
                        <div class="font-medium">Notifications</div>
                    </li>
                    {% for result in get_notifications() %}
                        {% set notification = result[0] %}
                        {% set isRead = result['isRead'] %}
                        <li>
                            <a href="{{ path('admin_read_notification', {'id': notification.id}) }}">
                                <div class="px-4 py-3 {% if not isRead %}font-bold{% endif %} hover:bg-gray-100">
                                    <div class="cursor-pointer relative flex items-center">
                                        <div class="flex-grow overflow-hidden">
                                            <div class="flex items-center justify-between">
                                                <span class="{% if isRead %} font-medium {% endif %} truncate">{{ notification.source.firstName }} {{ notification.source.lastName }} - {% if notification.source.job %}{{ notification.source.job }}{% endif %}</span>
                                                <span class="ml-2 text-xs text-gray-400 whitespace-nowrap">{{ notification.createdAt|date('d M. H:i') }}</span>
                                            </div>
                                            <p class="text-sm text-gray-500 truncate">
                                                {{ notification.content }}
                                            </p>
                                        </div>
                                        {% if not isRead %}
                                            <div class="ml-2 h-2 w-2 rounded-full bg-red-400"></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            </div>






            <div class="dropdown user-menu-wrapper {{ is_granted(impersonator_permission) ? 'user-is-impersonated' }} mx-0">
                <button class="cursor-pointer text-white flex items-center justify-center text-lg font-medium h-8 w-8 overflow-hidden rounded-full shadow-lg" style="background-color: var(--main-color);" type="button" data-bs-toggle="dropdown" data-bs-offset="0,5" aria-expanded="false">
                    {{ app.user.firstName|first }}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li class="dropdown-user-details">
                        <div class="p-2 font-medium font-normal">
                                <div class="font-medium">{{ app.user.firstName }} {{ app.user.lastName }}</div>
                                <div class="mt-0.5 text-xs text-white/70 dark:text-slate-500">
                                    {{ app.user.job }}
                                </div>
                        </div>
                    </li>

                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a href="{{ path('admin_contact') }}" class="dropdown-item">
                            <i class="fa-regular fa-circle-question"></i>
                            Besoin d'aide ?
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin', {
                            crudControllerFqcn: 'App\\Controller\\Admin\\UserCrudController',
                            crudAction: 'edit',
                            entityId: app.user.id
                        }) }}" class="dropdown-item">
                            <i class="fa-regular fa-user"></i>
                            Mon Profil
                        </a>
                    </li>

                    {% if ea.userMenu.items|length > 0 %}
                        <li><hr class="dropdown-divider"></li>
                        {% for item in ea.userMenu.items %}
                            <li>
                                {% if item.isMenuSection and not loop.first %}
                                    <hr class="dropdown-divider">
                                {% elseif not item.isMenuSection %}
                                    <a href="{{ item.linkUrl }}" class="dropdown-item user-action {{ item.cssClass }}"
                                       target="{{ item.linkTarget }}" rel="{{ item.linkRel }}"
                                       referrerpolicy="origin-when-cross-origin">
                                        {% if item.icon is not empty %}<twig:ea:Icon name="{{ item.icon }}" />{% endif %}
                                        {{ item.label|trans }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block responsive_header %}
    {% block responsive_header_logo %}
        <a class="responsive-logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
            <img src="{{ asset('logo.svg') }}" alt="logo" style="width: 10rem;">
        </a>
    {% endblock responsive_header_logo %}

    <div id="responsive-header-logo" class="text-truncate ms-auto">
        <button id="navigation-toggler" style="color: white !important;" type="button" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="bar-chart2" class="lucide lucide-bar-chart2 stroke-1.5 h-8 w-8 -rotate-90 transform text-white">
                <line x1="18" x2="18" y1="20" y2="10"></line>
                <line x1="12" x2="12" y1="20" y2="4"></line>
                <line x1="6" x2="6" y1="20" y2="14"></line>
            </svg>
        </button>
    </div>
{% endblock responsive_header %}

{% block header_logo %}
    <a class="logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
        <span class="logo-custom intro-x" style="width: 70%;">
            <img src="{{ asset('logo.svg') }}" alt="logo">
        </span>
    </a>
{% endblock header_logo %}